Data Preperation

In [165]:
# importing required libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [166]:
data=pd.read_csv('train_Df64byy.csv',index_col=0)
data

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
ID,,,,,,,,,,,,,
1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
3,C5,3732,Owned,Individual,32,32,No,NaN,1,1.0,19,7450.0,1
4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
5,C8,2190,Rented,Individual,44,44,No,X2,3,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50878,C4,845,Rented,Individual,22,22,No,X3,NaN,NaN,18,7704.0,0
50879,C5,4188,Rented,Individual,27,27,No,X3,7,3.0,4,5408.0,0
50880,C1,442,Rented,Individual,63,63,No,X2,14+,1.0,12,11374.0,0
50881,C1,4,Owned,Joint,71,49,No,X2,2,2.0,16,28179.2,1
50882,C3,3866,Rented,Individual,24,24,No,X3,2,3.0,18,11424.0,0

the categorical variables must be first encoded. we will be using binary encoding for features with only 2 categories and frequency encoding for features with more that 2 categories and integer numerical for ordinal variables

Binary encoding for features:
1.Accomodation_Type
2.Reco_Insurance_Type
3.Is_Spouse

In [167]:
data['accom_encode']=data['Accomodation_Type'].map({'Rented':0,'Owned':1})
data['it_encode']=data['Reco_Insurance_Type'].map({'Individual':0,'Joint':1})
data['is_spouse_encode']=data['Is_Spouse'].map({'No':0,'Yes':1})

ordinal feature: Holding_Policy_Duration

In [168]:
# the value in Holding_Policy_Duration in str formate
# converting them into int and replace na,14+ with 0,15
data['Holding_Policy_Duration'].fillna(0,inplace=True)
data['HPD_encode']=data['Holding_Policy_Duration'].replace(to_replace=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','14+'],value=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])

frequency encoding for 1.city_code 2.Health Indicator 3.Holding_Policy_Type 4.Reco_Policy_Cat

In [169]:
data['city_encode']=data['City_Code'].map(data.groupby('City_Code').size()/len(data))
data['Health Indicator'].fillna('X5',inplace=True)
data['HI_encode']=data['Health Indicator'].map(data.groupby('Health Indicator').size()/len(data))
data['Holding_Policy_Type'].fillna(4.,inplace=True)
data['HPT_encode']=data['Holding_Policy_Type'].map(data.groupby('Holding_Policy_Type').size()/len(data))
data['RPC_encode']=data['Reco_Policy_Cat'].map(data.groupby('Reco_Policy_Cat').size()/len(data))

In [170]:
data

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,...,Reco_Policy_Premium,Response,accom_encode,it_encode,is_spouse_encode,HPD_encode,city_encode,HI_encode,HPT_encode,RPC_encode
ID,,,,,,,,,,,,,,,,,,,,,
1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,...,11628.0,0,0,0,0,15,0.096085,0.255690,0.260976,0.129751
2,C5,1117,Owned,Joint,75,22,No,X2,0,4.0,...,30510.0,0,1,1,0,0,0.026807,0.203058,0.480032,0.129751
3,C5,3732,Owned,Individual,32,32,No,X5,1,1.0,...,7450.0,1,1,0,0,1,0.026807,0.263708,0.160627,0.072874
4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,...,17780.0,0,1,1,0,15,0.010868,0.255690,0.260976,0.072874
5,C8,2190,Rented,Individual,44,44,No,X2,3,1.0,...,10404.0,0,0,0,0,3,0.035494,0.203058,0.160627,0.080264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50878,C4,845,Rented,Individual,22,22,No,X3,0,4.0,...,7704.0,0,0,0,0,0,0.072147,0.132896,0.480032,0.109135
50879,C5,4188,Rented,Individual,27,27,No,X3,7,3.0,...,5408.0,0,0,0,0,7,0.026807,0.132896,0.260976,0.019948
50880,C1,442,Rented,Individual,63,63,No,X2,14+,1.0,...,11374.0,0,0,0,0,15,0.176349,0.203058,0.160627,0.042608
50881,C1,4,Owned,Joint,71,49,No,X2,2,2.0,...,28179.2,1,1,1,0,2,0.176349,0.203058,0.098365,0.080264
50882,C3,3866,Rented,Individual,24,24,No,X3,2,3.0,...,11424.0,0,0,0,0,2,0.096085,0.132896,0.260976,0.109135

In [171]:
t_data=data[['Region_Code','Upper_Age','Lower_Age','Reco_Policy_Premium','accom_encode','it_encode','is_spouse_encode','HPD_encode','city_encode','HI_encode','HPT_encode','RPC_encode']]
t_out=data['Response']

In [172]:
stand_model=StandardScaler().fit(t_data)
stand_data=stand_model.transform(t_data)
stand_data.shape

(50882, 12)

In [173]:
train_y=np.array(t_out)
train_x=stand_data

Preparing test_data

In [174]:
test_data=pd.read_csv('test_YCcRUnU.csv',index_col=0)
test_data['accom_encode']=test_data['Accomodation_Type'].map({'Rented':0,'Owned':1})
test_data['it_encode']=test_data['Reco_Insurance_Type'].map({'Individual':0,'Joint':1})
test_data['is_spouse_encode']=test_data['Is_Spouse'].map({'No':0,'Yes':1})
test_data['Holding_Policy_Duration'].fillna(0,inplace=True)
test_data['HPD_encode']=test_data['Holding_Policy_Duration'].replace(to_replace=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','14+'],value=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
test_data['city_encode']=test_data['City_Code'].map(data.groupby('City_Code').size()/len(data))
test_data['Health Indicator'].fillna('X5',inplace=True)
test_data['HI_encode']=test_data['Health Indicator'].map(data.groupby('Health Indicator').size()/len(data))
test_data['Holding_Policy_Type'].fillna(4.,inplace=True)
test_data['HPT_encode']=test_data['Holding_Policy_Type'].map(data.groupby('Holding_Policy_Type').size()/len(data))
test_data['RPC_encode']=test_data['Reco_Policy_Cat'].map(data.groupby('Reco_Policy_Cat').size()/len(data))
t_test_data=test_data[['Region_Code','Upper_Age','Lower_Age','Reco_Policy_Premium','accom_encode','it_encode','is_spouse_encode','HPD_encode','city_encode','HI_encode','HPT_encode','RPC_encode']]
t_stand_data=stand_model.transform(t_test_data)
print(t_stand_data.shape)
test_x=t_stand_data

(21805, 12)

Training data on different Machine Learning algorithms

Neural Networks

In [175]:
import tensorflow as tf

In [190]:
nn_model=tf.keras.Sequential([tf.keras.layers.Dense(20,activation='relu',input_shape=(12,)),tf.keras.layers.Dense(20,activation='relu'),tf.keras.layers.Dense(20,activation='relu'),tf.keras.layers.Dense(20,activation='relu'),tf.keras.layers.Dense(20,activation='relu'),tf.keras.layers.Dense(20,activation='relu'),tf.keras.layers.Dense(2,activation='softmax')])

In [195]:
nn_model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [196]:
nn_model.fit(train_x,train_y,validation_split=0.05,epochs=10,verbose=2)

Epoch 1/10
1511/1511 - 4s - loss: 0.5527 - accuracy: 0.7601 - val_loss: 0.5522 - val_accuracy: 0.7583
Epoch 2/10
1511/1511 - 2s - loss: 0.5499 - accuracy: 0.7601 - val_loss: 0.5533 - val_accuracy: 0.7583
Epoch 3/10
1511/1511 - 2s - loss: 0.5487 - accuracy: 0.7601 - val_loss: 0.5530 - val_accuracy: 0.7583
Epoch 4/10
1511/1511 - 2s - loss: 0.5481 - accuracy: 0.7601 - val_loss: 0.5505 - val_accuracy: 0.7583
Epoch 5/10
1511/1511 - 1s - loss: 0.5465 - accuracy: 0.7601 - val_loss: 0.5507 - val_accuracy: 0.7583
Epoch 6/10
1511/1511 - 2s - loss: 0.5454 - accuracy: 0.7601 - val_loss: 0.5528 - val_accuracy: 0.7583
Epoch 7/10
1511/1511 - 2s - loss: 0.5447 - accuracy: 0.7601 - val_loss: 0.5523 - val_accuracy: 0.7583
Epoch 8/10
1511/1511 - 2s - loss: 0.5440 - accuracy: 0.7601 - val_loss: 0.5521 - val_accuracy: 0.7583
Epoch 9/10
1511/1511 - 2s - loss: 0.5435 - accuracy: 0.7601 - val_loss: 0.5543 - val_accuracy: 0.7583
Epoch 10/10
1511/1511 - 1s - loss: 0.5429 - accuracy: 0.7601 - val_loss: 0.5517 - val_accuracy: 0.7583

In [189]:
loss,accuracy=nn_model.evaluate(train_x)
accuracy

array([[0.71782285, 0.2821771 ],
       [0.61638075, 0.38361922],
       [0.7693872 , 0.2306128 ],
       ...,
       [0.75689304, 0.24310693],
       [0.7904687 , 0.20953128],
       [0.8620497 , 0.13795035]], dtype=float32)

the accuraccy of the model is very  low, the reason might be imputing of missing values as new category. we will using neural networks to impute value in to the missing data. the features which contain missing values are 1.Health Indicator  2.Holding_Policy_Duration 3.Holding_Policy_Type

In [180]:
data_2=pd.read_csv('train_Df64byy.csv',index_col=0)
data_2

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
ID,,,,,,,,,,,,,
1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
3,C5,3732,Owned,Individual,32,32,No,NaN,1,1.0,19,7450.0,1
4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
5,C8,2190,Rented,Individual,44,44,No,X2,3,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50878,C4,845,Rented,Individual,22,22,No,X3,NaN,NaN,18,7704.0,0
50879,C5,4188,Rented,Individual,27,27,No,X3,7,3.0,4,5408.0,0
50880,C1,442,Rented,Individual,63,63,No,X2,14+,1.0,12,11374.0,0
50881,C1,4,Owned,Joint,71,49,No,X2,2,2.0,16,28179.2,1
50882,C3,3866,Rented,Individual,24,24,No,X3,2,3.0,18,11424.0,0

In [181]:
data_htp=data_2.copy()
data_htp.dropna(inplace=True)# dropping rows with na value 
data_htp

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
ID,,,,,,,,,,,,,
1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
5,C8,2190,Rented,Individual,44,44,No,X2,3,1.0,16,10404.0,0
6,C9,1785,Rented,Individual,52,52,No,X2,5,1.0,22,15264.0,1
8,C1,3175,Owned,Joint,75,73,Yes,X4,9,4.0,17,29344.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50876,C6,231,Rented,Individual,36,36,No,X3,2,1.0,20,13574.0,1
50879,C5,4188,Rented,Individual,27,27,No,X3,7,3.0,4,5408.0,0
50880,C1,442,Rented,Individual,63,63,No,X2,14+,1.0,12,11374.0,0
50881,C1,4,Owned,Joint,71,49,No,X2,2,2.0,16,28179.2,1
50882,C3,3866,Rented,Individual,24,24,No,X3,2,3.0,18,11424.0,0

In [182]:
def binary_encoding(dataframe,features):# fucntion for binary ecoding for 2 class features
    for i in features:
        if len(dataframe[i].value_counts().index)>2:
            print('the feature has more than 2 classes')
            return None
        classes=dataframe[i].value_counts().index
        dataframe[i]=dataframe[i].map({classes[0]:0,classes[1]:1})
    return None

In [183]:
binary_encoding(data_htp,['Accomodation_Type','Reco_Insurance_Type','Is_Spouse']) # binary encoding the features ['Accomodation_Type','Reco_Insurance_Type','Is_Spouse']

In [184]:
def frequency_encoding(dataframe,features):# function for frequency encoding a group of categorical variables
    num_ex=len(dataframe)
    for i in features:
        freq=dataframe[i].value_counts()/num_ex
        dataframe[i]=dataframe[i].map(freq)
    return None

In [185]:
frequency_encoding(data_htp,['City_Code']) # feaquency encooing to the feature City_Code

In [186]:
x_data=data_htp.drop(columns=['Health Indicator','Holding_Policy_Duration','Holding_Policy_Type'])
x_data=np.array(x_data)
x_data.shape

(23548, 10)

In [187]:
# training a model for imputing missing values in the feature Health Indicator
y_data=pd.get_dummies(data_htp['Health Indicator'])# preparing output data
y_data=np.array(y_data)
y_data.shape

(23548, 9)

In [188]:
hi_nnmodel=tf.keras.Sequential([tf.keras.layers.Dense(15,activation='relu',input_shape=(10,)),tf.keras.layers.Dense(15,activation='relu'),tf.keras.layers.Dense(15,activation='relu'),tf.keras.layers.Dense(15,activation='relu'),tf.keras.layers.Dense(9,activation='softmax')])
hi_nnmodel.compile(optimizer='adam',loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),metrics='acc')
hi_nnmodel.fit(x_data,y_data,epochs=,verbose=2,validation_split=0.1)

Epoch 1/10
663/663 - 2s - loss: 90.3023 - acc: 0.2163 - val_loss: 15.3751 - val_acc: 0.0662
Epoch 2/10
663/663 - 1s - loss: 16.8143 - acc: 0.2276 - val_loss: 15.4797 - val_acc: 0.1724
Epoch 3/10
663/663 - 1s - loss: 13.0991 - acc: 0.2278 - val_loss: 13.6776 - val_acc: 0.0501
Epoch 4/10
663/663 - 1s - loss: 10.8546 - acc: 0.2246 - val_loss: 8.8062 - val_acc: 0.3079
Epoch 5/10
663/663 - 1s - loss: 10.9993 - acc: 0.2305 - val_loss: 3.6539 - val_acc: 0.1873
Epoch 6/10
663/663 - 1s - loss: 8.3082 - acc: 0.2287 - val_loss: 7.2505 - val_acc: 0.0599
Epoch 7/10
663/663 - 1s - loss: 7.4553 - acc: 0.2313 - val_loss: 6.4589 - val_acc: 0.2960
Epoch 8/10
663/663 - 1s - loss: 6.8560 - acc: 0.2361 - val_loss: 8.2537 - val_acc: 0.2773
Epoch 9/10
663/663 - 1s - loss: 5.3115 - acc: 0.2369 - val_loss: 13.9666 - val_acc: 0.2773
Epoch 10/10
663/663 - 1s - loss: 5.4887 - acc: 0.2366 - val_loss: 4.9575 - val_acc: 0.0539

the low accuracy of the prdeiction shows that the missing data in this variable is not missinf at random so the model cannot be predicted using other features